@import 'normalize.css';
@import url('https://use.typekit.net/waz4tsx.css');
:root {
    --default-height-header: 60px;
    --default-width-content: 1150px;
    --text-color: #333;
    --search-border-radius: 92px;
    --search-height: 48px;
    --search-top-space: 9px;
    --search-button-width: 52px;
    --primary: rgba(254, 44, 85, 1);
    --font: 'Proxima-Nova-Regular', sans-serif;
    --default-layout-horizontal-space: 24px;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//font
@font-face {
    font-family: Proxima-Nova-Regular;
    src: url('/assets/Fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url('/assets/Fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: Proxima-Nova-Semibold;
    src: url('/assets/Fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: sofiapro-bold;
    src: url('/assets/Fonts/sofiapro-bold.woff');
    font-weight: 700;
}

//custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
